In [ ]:
# 41-A. Two times 44-Across (3)
# 44-A. Square root of 28-Down (3)
# 28-D. Square of 44-Across (5)
# 41-D. Not a prime

In [10]:
PRIMES = set(map(int, """
2	3	5	7	11	13	17	19	23
29	31	37	41	43	47	53	59	61	67
71	73	79	83	89	97	101	103	107	109
113	127	131	137	139	149	151	157	163	167
173	179	181	191	193	197	199	211	223	227
229	233	239	241	251	257	263	269	271	277
281	283	293	307	311	313	317	331	337	347
349	353	359	367	373	379	383	389	397	401
409	419	421	431	433	439	443	449	457	461
463	467	479	487	491	499	503	509	521	523
541	547	557	563	569	571	577	587	593	599
601	607	613	617	619	631	641	643	647	653
659	661	673	677	683	691	701	709	719	727
733	739	743	751	757	761	769	773	787	797
809	811	821	823	827	829	839	853	857	859
863	877	881	883	887	907	911	919	929	937
941	947	953	967	971	977	983	991	997
""".split()))
SQRS_2 = [i ** 2 for i in range(4, )]

In [24]:
for a44 in range(100, 999):
  d28 = a44 ** 2
  if d28 > 99999:
    break
  if int(str(d28)[1]) not in {1, 2, 6}:
    continue
  if str(d28)[-1] != str(a44)[0]:
    continue
  a41 = a44 * 2
  if a41 > 999:
    break
  # 41-D. Not a prime
  d41 = int(str(a41)[0] + str(a44)[2])
  if d41 in PRIMES:
    continue
  print(a41, a44, d28, d41)
  #break

222 111 12321 21
358 179 32041 39

In [11]:
PRIMES

{2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229,
 233,
 239,
 241,
 251,
 257,
 263,
 269,
 271,
 277,
 281,
 283,
 293,
 307,
 311,
 313,
 317,
 331,
 337,
 347,
 349,
 353,
 359,
 367,
 373,
 379,
 383,
 389,
 397,
 401,
 409,
 419,
 421,
 431,
 433,
 439,
 443,
 449,
 457,
 461,
 463,
 467,
 479,
 487,
 491,
 499,
 503,
 509,
 521,
 523,
 541,
 547,
 557,
 563,
 569,
 571,
 577,
 587,
 593,
 599,
 601,
 607,
 613,
 617,
 619,
 631,
 641,
 643,
 647,
 653,
 659,
 661,
 673,
 677,
 683,
 691,
 701,
 709,
 719,
 727,
 733,
 739,
 743,
 751,
 757,
 761,
 769,
 773,
 787,
 797,
 809,
 811,
 821,
 823,
 827,
 829,
 839,
 853,
 857,
 859,
 863,
 877,
 881,
 883,
 887,
 907,
 911,
 919,
 929,
 937,
 941,
 947,
 953,
 967,
 971,
 977,
 983,
 991,
 997}

In [20]:
[str(i * 3) for i in range(99) if len(str(i * 3)) == 2 and str(i * 3)[1] == '1']

['21', '51', '81']

In [23]:
for d29 in range(10, 99):
  a32 = d29 ** 2
  if a32 > 999:
    break
  if str(d29)[1] != str(a32)[-1]:
    continue
  if int(str(a32)[1]) not in {2, 5, 8}:
    continue
  print(a32, d29)

121 11
225 15
256 16
625 25

In [26]:
[i*4 for i in range(10,30)]

[40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96,
 100,
 104,
 108,
 112,
 116]